[2017-05-08 11:45] HyperBrain opened #1 ""Serverless invoke local" command not supported"
Currently the "serverless invoke local" command does not resolve the environment variables and functions that use references in the environment won't run properly.

[2017-05-08 13:38] #1 closed

[2017-07-02 23:12] hassankhan opened #4 "Add before:deploy hook"
Not sure if this is a supported or recommended use-case, but I'd like the `.env` exported from this package to be used by [`webpack-dotenv-plugin`](https://github.com/nwinch/webpack-dotenv-plugin) in my Webpack build.

Would you accept a PR for it? 😄

[2017-07-03 14:37] arabold commented on #4
Hi @hassankhan. Interesting use case you have there. My only concern is that some of the environment variables are only know _after_ deployment, e.g. all the AWS pseudo variables and references to CloudFormation resources using `Fn::ImportValue`. So any environment resolved in the `before:deploy` hook would potentially be incomplete or invalid. Do you have some more details on what those environme

[2017-07-03 15:41] hassankhan commented on #4
Ahh you're correct, I meant `after:deploy`.

I wanted to use Webpack's `NODE_ENV=production` for production builds, but setting that manually  resulted in only `NODE_ENV` being available (at least on local).

The idea was that this package would generate the env, then I guess re-deploy the functions :/

[2017-10-13 03:54] triqi opened #6 "Variables using Fn::If: does not resolve to a valid value"
# Expected Behavior
Given an environment variable that uses a Fn::If: function
When I run `serverless export-env`
Then the output should result in a value that is evaluated from the function

# Current Behavior
The output resolves to [object Object]

# Steps to Reproduce
Declare a environment variable that uses a Fn::If: function
Define a condition in Resources to evaluate some expression
Deploy t

[2017-10-14 16:24] arabold commented on #6
Interesting use case. Unfortunately I don't think there's a straight forward way of handling this case in the plugin.

The only solution I see without starting to reimplement a huge part of CloudFormation's logic (and going down the rabbit hole deeper and deeper) is by looking up the actual value from the deployed Lambda. But this has several drawbacks, i.e. you have to have the Lambda already dep

[2017-10-15 04:48] triqi commented on #6
@arabold you are right to suggest avoiding `Fn::If:` or any other delay-resolving CloudFormation intrinsic functions when using `serverless-export-env`. I will look into a post-deploy script to pull out the stack information I need.

Feel free to mark this issue as out-of-scope and close it.

Cheers.

[2018-02-20 22:07] OliverGavin opened #7 "CRLF new lines on Linux"
My .env seems to contain CRLF which is messing things up for me.

Is there any reason to have these on a Linux machine?

[2018-02-28 10:32] HoneyryderChuck opened #8 "Fn::GetAtt not resolving"
I've tried to use this lib (very useful, btw) to generate my .env to run migrations in continuous deployment. However, the database is postgresql, which means that getting the address involves a look-up using Fn::GetAtt:

[code]

From what I got in the README, it's still to be implemented. Could you share the timeline for the feature, and eventually what's the stumbling block?

[2018-03-23 21:52] arabold commented on #7
There's no specific reason other than CRLF in my experience works best if you use both Windows and Linux/Mac systems. When using a module like `dotenv` it shouldn't actually matter which kind of line breaks you're using.

Having that said, if you want to create a pull request that automatically chooses the "right" one depending on the currently used platform, I'm happy to merge it.

[2018-03-28 11:01] herebebogans commented on #8
Hi - I was interested in the same feature

Having a look through how `resolveCloudFormationEnvVariables.js` it doesn't seem easy as there is no AWS API Cloudformation call to replicate the behaviour of what Fn:GetAtt does at stack deployment time?

@arabold  I've taken the approach of falling through any unknown CF types to already set env variables [here](https://github.com/herebebogans/serverles

[2018-04-02 20:40] arabold commented on #8
I've also taken a look and it's not straight forward to support `GetAtt::`. If you can, you should use `Ref: MyDB` instead as that should resolve without issues. You can also try using `Fn::ImportValue` as an alternative.

[2018-04-02 20:42] arabold commented on #8
@herebebogans I'm not sure if I'm a fan of falling back to global environment variables. It might have unforeseen consequences as things aren't fully predictable anymore. I wanted to have the `.env` file resemble your Lambda configuration as closely as possible.

[2018-04-19 08:40] wheresrhys commented on #7
It does matter when exporting to .env then using a shell script to read .env into variables. I've found this workaround `serverless export-env --stage dev; tr -d "\r" < .env > .env-unix;`.

If you can point me to an appropriate place in your codebase to sniff line ending type I'll submit a PR

[2018-04-19 14:24] arabold commented on #7
I've released a version 1.2.0 which uses the platform specific newline characters. So it should be `\n` for POSIX, `\r\n` for Windows. Let me know if that helps 👍

[2018-04-19 14:24] #7 closed

[2018-06-13 12:34] salsa2k opened #9 "ignore envs"
It is possible have something to ignore some envs and just create the one that I choose?

[2018-07-01 21:18] arabold commented on #9
Not at the moment. What would be a use case for this?

[2018-08-15 12:39] esbenvb opened #11 "Does not resolve DomainEndpoint attribute of Elastic Search domain"
While this plugin works for the names of my dynamoDb tables, I keep getthing this value for the HTTPS endpoint of my elastic search instance.

[code]
Here's how I define it:
[code]
[code]

[2018-08-15 21:32] esbenvb commented on #11
Well I can see that `Fn:GetAtt` is already on the todo-list, and this seems to be a duplicate of #8, so I'm closing this ticket.

[2018-08-15 21:32] #11 closed

[2018-09-14 14:07] esbenvb commented on #8
Does anybody have a suggestion for a decent workaround, until this is implemented? My `.env` file currently looks like this

[code]

The search index is defined like
[code]

And of course I want to have access to it in my lambda functions without hardcoding the endpoint. What's the best solution?

[2018-10-06 01:31] esbenvb commented on #8
I temporarily solved it like this:

in `serverless.yml`

[code]

Then I can do like this when I test locally.

`$ sls invoke local -f myFunction --path mocks/myFunction.json  --searchIndexEndpoint="some-url.es.amazonaws.com"`

[2018-10-06 01:32] esbenvb commented on #11
I temporarily solved it like this:

in `serverless.yml`

[code]

Then I can do like this when I test locally.

`$ sls invoke local -f myFunction --path mocks/myFunction.json  --searchIndexEndpoint="some-url.es.amazonaws.com"`

[2019-02-26 10:53] herebebogans opened #12 "sls invoke local =broken after serverless 1.35.0?"
Anyone else noticing that the plugin seems to be broken with `sls invoke local -f <function>` after serverless 1.35.0

Ref: Environment variables resolve to [object Object] in the handler. Last serverless release that works is 1.34.1

This commit looks possibly the issue?

https://github.com/serverless/serverless/pull/5565/commits/44a6ac1a101a4ea8aee405bcd1ca538c1b1d88ce

[2019-02-26 22:55] herebebogans commented on #12
Works again if I hack my local `serverless/lib/plugins/aws/invokeLocal/index.js` to revert the referenced commit.

@arabold not sure on the best way to fix the hook order?

[2019-06-18 18:40] brucekaufman commented on #12
I've also run into this problem.  Any suggestions on how to fix?

[2019-06-23 02:41] cyberwombat opened #14 "API_ENDPOINT and IS_OFFLINE not unset on deploy"
It think it's great that these vars are set but when I deploy live the plugin should run again and not have these set. If I run sls offline then deploy it pushes my env file with these vars so its not super useful at that point.

[2019-07-02 01:32] herebebogans commented on #12
@brucekaufman we've replicated the functionality of the plugin using stack exports to set environment variables in helper wrappers around serverless offline and serverless invoke.

You can then do a use "env variable or fallback to cloudformation ref" in serverless variables.

[2019-07-02 01:33] herebebogans commented on #14
Exclude your .env file from the deployment with serverless.yml package excludes.

[2019-07-02 06:03] cyberwombat commented on #14
Ya its what I ended up doing. Thanks.

[2019-07-02 06:03] #14 closed

[2019-07-02 13:28] brucekaufman commented on #12
@herebebogans can you provide an example of what you're talking about?  I am serverless newbie :)

[2019-07-03 23:11] herebebogans commented on #12
No worries - I explained it poorly.

Here's an example of referencing a dynamo table with the pattern

[code]
You then need something to set the MY_TABLE env variable before running sls offline or sls invoke We were using the aws cli along with direnv but now we have wrapper scripts for serverless offline / invoke using gulp.

[2019-08-12 21:35] sema4-dmytrobazulin opened #15 "need support for provider credentials"
Looks like the plugin relies on stored provider credentials. Would be nice if those can be passed from command line params or taken from environment variables:

(Quick Setup section)
https://serverless.com/framework/docs/providers/aws/guide/credentials/

[2019-09-27 10:47] protoblade opened #16 "file vars are not rendered"
It seems that the ```collectEnvVars()``` does not take into account file references and does not render them properly

Example
serverless.yml
[code]
generated .env
[code]

[2019-10-01 11:13] #16 closed

[2019-12-21 18:17] coyoteecd opened #17 "Function environment variables with different values"
The plugin seems to assume that environment variable names are unique across all functions in the serverless.yml stack and lumps them together in a name=value list within .env file. This may or may not be the case in practice.

Example serverless.yml:
[code]

With the plugin, invoking one-function shows process.env.test as `two`. Without the plugin, process.env.test is correctly set to `one`.

[2020-01-19 15:34] jfnault-seedbox commented on #12
Any updates regarding this issue?

[2020-01-19 15:36] jfn0 commented on #12
@arabold  Any update, is this repo still maintain?

[2020-04-18 22:27] xgiovio opened #18 "is this project dead"
Hello,
are developments on this project on halt?

[2020-05-15 18:49] chkrause commented on #18
I am also interested in this topic, especially when the last changes will be made available as npm package. With the new changes a path could finally be included.

[2020-05-17 16:29] arabold commented on #18
I have just published v1.3.0 which adds:
- Support different output file name and path. Thanks to [philiiiiiipp](https://github.com/philiiiiiipp).
- Export `Outputs` as environment variables. Thanks to [lielran](https://github.com/lielran).

I'm happy to add previous contributes as editors for the project to speed up future releases. As I'm currently not using `serverless-export-env` in my own pro

[2020-05-17 16:29] #18 closed

[2020-05-17 16:30] arabold commented on #17
This seems like a useful feature request. I'm not perfectly sure how we could achieve this, e.g. we would need to create `.env` files for every function, but I'm happy to look into any future pull requests trying to tackle this.

[2020-05-17 17:50] #12 closed

[2020-05-17 17:51] arabold commented on #12
Sorry for the total lack of communication from my side. I have pushed a version 1.3.1 that _should_ fix this problem by explicitly setting the environment variables before the actual local invoke.

[2020-05-17 17:52] #9 closed

[2020-09-14 14:13] gcampionpae commented on #15
I realize this issue is a bit over a year old but I ran across this issue as well when I was trying to run a CI job and was able to get around the issue by setting the credentials in serverless first `"serverless config credentials --provider aws --key $AWS_ACCESS_KEY_ID --secret $AWS_SECRET_ACCESS_KEY --profile xxxxxxxx"`

[2020-09-14 18:54] #15 closed

[2020-09-17 12:22] andersquist opened #21 "Collect and set resource values from actual Cloud Formation stack output"
I've made a branch where I'm proposing that resource output values are retrieved from the actual Cloud Formation stack and set if they exist with a fallback with existing behaviour. This would help with cases where one would get values like `[object Object]` in the resulting `.env` file.

The implementation might be a bit naive and fail due to things that I'm not aware of and I would gladly take a

[2020-09-17 18:12] arabold commented on #21
Interesting! Thanks for the branch, I will certainly take a look. I'm not 100% clear about the use case though - but I also haven't worked with AWS Lambda in quite a while to be honest.

When running as a Lambda on AWS the stack output wouldn't be exposed as environment variables automatically, would it? You would have to explicitly define the environment variable in the Serverless config yaml and

[2020-09-17 19:49] andersquist commented on #21
To give you an use case let's say we have something like this in the `Resource` section of a `serverless.yml`:
[code]
Then the `SNSSomethingNotificationTopicName` would not get resolved to the actual value but instead a JSON object containing something this after the call to `collectResourceOutputs`:
[code]
Which when it gets written to the `.env` file becomes `SNS_NOTIFICATION_TOPIC_NAME: [object

[2020-09-19 23:21] rgustafson-ie commented on #21
I hit this same issue today for outputs using `Fn::GetAtt` on the `Endpoint.Address` and `Endpoint.Port` for a `AWS::RDS::DBCluster` resource.  It's in the [AWS::RDS::DBCluster](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-rds-dbcluster.html#aws-resource-rds-dbcluster-return-values-fn--getatt) docs, and is a general thing for all kinds of AWS Resources.

I would find

[2020-09-24 06:44] andersquist commented on #21
I'll just go ahead and make a PR so we can take the discussion from there and see if this is something that is worth considering.

[2020-09-26 12:46] arabold commented on #21
Thanks for the PR. I get the problem and the proposed solution now. I think this makes sense though it's obviously a workaround and it only works for output variables. But considering the lack of alternatives, I'm open to merge it in. I'll take a look again next week when I have some more availability.

[2020-10-07 14:27] arabold commented on #21
Merged! Thanks again for your contribution.

[2020-10-07 14:27] #21 closed

[2020-10-07 14:34] arabold commented on #8
v1.4.0 contains a new feature to read environment variables directly from the CloudFormation output. This can work as a workaround to this issue. See the conversation here: https://github.com/arabold/serverless-export-env/issues/21

[2021-01-04 18:00] marooned071 opened #24 "export-env with sls offline not working because it's reaching the real cloudformation"
Hey,

Thank you for your contribution to the open-source community.

I would like to use that plugin in my test set up. It seems to fit perfectly for my use case. However, I found that `export-env` plugin is not working with `serverless offline` plugin.  The problem is that during collecting environment variables, the plugin is trying to connect to the real AWS infrastructure to list variables and

[2021-02-02 17:36] arabold commented on #24
Thanks, @marooned071 . I have merged your PR into v1.4.1 which is available via `npm` now.

[2021-02-08 15:16] coyoteecd commented on #24
This PR is breaking our use of serverless-offline in combination with the serverless-export-env plugin. Connecting to the deployed stacks was/is useful in case your environment variables are hooked up with ImportValue calls, as described in  #21. We use those to dynamically read outputs of other stacks, e.g. table names of Dynamo tables deployed by the db stack. The plugin would connect and get th

[2021-02-09 06:55] DanielWFrancis opened #26 ".return is not a function"
Builds started failing on my export-env call with this

[code]

I don't actually write much Javascript but I went through removing the . for the above instance and two more instances that threw errors:

[code]

[code]

Not sure if this solution creates race conditions etc., but it ran fine just now. Also curious about what changed to cause this to not work?

Thank you :)

[2021-02-09 11:11] pdecarcer commented on #26
I run on a mac just fine, but when I try tu run on a ubuntu get
`TypeError: AWS.request(...).then(...).return is not a function` Error

[2021-02-09 11:40] ivanamandic commented on #26
Hi, I just updated serverless framework and now `serverless export-env -s develop` not working any more.
I get `AWS.request(...).then(...).return is not a function` error.

[2021-02-09 13:29] coyoteecd commented on #26
Also ran into this today after updating to serverless v2.23.
I think this is related to these refactors: https://github.com/serverless/serverless/pull/8871/commits/b5a70fbdbbbf9145ce210c562ffac666d32e7d7b

Serverless Framework is slowly deprecating BbPromise and replacing it with native async/await. This plugin, and possibly others, uses BbPromise and also assumes that async operations from server

[2021-02-09 21:14] pdecarcer commented on #26
@coyoteecd So you propose to downgrade serverless before v2.23??

[2021-02-09 22:36] DanielWFrancis commented on #26
@coyoteecd interesting. Does seem relevant, but rolling back to v2.20.1 still is returning the error oddly enough.

From my last run, which ended with the same error as in the op:
[code]

[2021-02-09 22:51] dennistruemper opened #27 "Error with serverless v2.23.0"
Hi, I wanted to upgrade to serverless version 2.23.0 and had a problem.

Right know this is what I know:

[code]

The same error is reproducable with Linux:
[code]

Let me know if i cant do something to help.

[2021-02-10 17:06] Gi0rgi0s commented on #27
bump. I am having the exact same issue

[2021-02-11 13:45] S0GGeR commented on #27
+

[2021-02-12 03:42] pdecarcer commented on #26
I just installed version 2.22.0 and worked with out a problem!

[2021-02-14 12:32] andre-at-clubien commented on #27
This is still ongoing (Feb-14 2021)

[code]

[2021-02-19 19:56] #27 closed

[2021-02-19 20:24] arabold commented on #24
I was going through this again and I have to agree with @coyoteecd. I think this PR needs to be rolled back and reworked. Initially, I obviously didn't put much thought in, but it seems the new behavior based on whether offline is used isn't fully predictable for the user. There are legitimate use cases in which we want to update the environment file regardless of whether running using offline or

[2021-02-25 12:02] gerdzhikov commented on #26
Same problem here after upgrading to serverless 2.27.0 running it on OSX:

[code]

Can confirm, that it works for me fine with 2.22.0

[2021-02-25 15:14] gerdzhikov opened #31 "Usage of AWS pseudo parameters and intrinsic functions in environment variables"
As of 1st, thanks a lot for this great plugin for the serverless framework.

Could you please provide an example in the README how we can use the supported AWS pseudo parameters as  `AWS::AccountId`, `AWS::NotificationARNs`, `AWS::NoValue`, `AWS::Partition`, `AWS::Region`, `AWS::StackId`, `AWS::StackName`, `AWS::URLSuffix`, and maybe a list of all supported parameters?

Currently, the example desc

[2021-03-15 18:45] williamsandonz commented on #26
Would be great to get this one solved

[2021-03-15 19:27] williamsandonz commented on #26
Hey everyone, I've taken a look into this and the issue was actually fixed in the github repo [here](https://github.com/arabold/serverless-export-env/pull/28/files) but a new npm package hasn't been published, so if you need a temp work around just npm install arabold/serverless-export-env to get the changes, then can switch back to NPM package once released. @arabold  you able to publish a new ve

[2021-03-24 14:32] daniele-pelagatti commented on #27
Hello, first of all thanks for your invaluable work on this plugin, I've used it for years and I'll never thank you enough :)

I'm having a rough time fighting with the problem mentioned above, I even made a minimum repro here
[minrepro.zip](https://github.com/arabold/serverless-export-env/files/6197940/minrepro.zip)

basically I just install serverless, serverless-export-env, make a minimal serve

[2021-03-24 20:24] pgrzesik commented on #26
Hello @arabold :wave: As @williamsandonz mentioned above, the fix has been merged, but the new version wasn't released to `npm`. Would you be able to release a new version? If you're no longer interested in maintaining the plugin, I'm happy to jump in and help out with such maintenance - please let me know if that sounds good :bow:

[2021-03-31 19:04] nthornton2010 commented on #26
@arabold any update on when this fix will make it to npm?

[2021-04-01 10:45] huntedman commented on #26
As a temporary workaround you can do:

npm i -D https://github.com/arabold/serverless-export-env.git

It installs the dependency straight from github, skipping the NPM.

[2021-04-19 11:23] serverlesspolska commented on #8
Unfortunately, this workaround solution does not work for the new HTTP API in API Gateway.

my config:
[code]

Trying to deploy this I get following error
[code]

[2021-04-21 11:57] serverlesspolska commented on #27
@daniele-pelagatti I'm afraid nothing has been done yet.

@arabold Could you please take a look at the problem?

I have the same problem on SF 2.37. The root cause lays in this plugin :-(
[code]

[2021-04-23 22:24] arabold commented on #24
Rolled back the PR. Update without the changes is in v1.4.2. I'm really sorry for the delay 😞

[2021-04-23 22:25] arabold commented on #26
Fixed in v1.4.2. Sorry for the delay 😞

[2021-04-23 22:25] #26 closed

[2021-04-25 01:48] arabold commented on #31
I'm currently working on a new v2.0.0. I've considered all your suggestions in this new version. It has support for `Fn::GetAtt` and most other commonly used functions. It should also be possible to solve any remaining issues you might have in this task.

The version is not pushed to `npm` yet but a branch exits: https://github.com/arabold/serverless-export-env/tree/v2.0.0. I'm happy about any fee

[2021-04-25 01:50] arabold commented on #24
I'm currently working on a new v2.0.0. I've dropped support for some workarounds and introduced support for `Fn::GetAtt` and most other commonly used functions. This should make the use of the plugin much more straight forward. You can also disable offline support or skip creating a `.env` file depending on your personal use cases.

The version is not pushed to `npm` yet but a branch exits: https:

[2021-04-25 09:18] serverlesspolska commented on #27
Thanks @arabold for doing the release. The issue is solved 👍

[2021-04-26 20:38] arabold commented on #8
v2.0.0 (not released to `npm` yet) will support `Fn::GetAtt` and other intrinsic functions.

[2021-04-26 21:13] arabold commented on #31
To simplify testing the new version, I've published `2.0.0-alpha.0` to as alpha release to `npm`:

[code]

I'm closing this task. Please open a new one (or comment on this one) if your problems are still not solved.

[2021-04-26 21:13] #31 closed

[2021-04-26 21:14] arabold commented on #24
To simplify testing the new version, I've published `2.0.0-alpha.0` to as alpha release to `npm`:

[code]

I'm closing this task. Please open a new one (or comment on this one) if your problems are still not solved.

[2021-04-26 21:14] #24 closed

[2021-04-26 21:14] arabold commented on #17
v2.0.0 allows to export environment variables for a specific function only. To simplify testing the new version, I've published `2.0.0-alpha.0` as alpha release to `npm`:

[code]

I'm closing this task. Please open a new one (or comment on this one) if your problems are still not solved.

[2021-04-26 21:14] #17 closed

[2021-04-26 21:14] arabold commented on #8
To simplify testing the new version, I've published `2.0.0-alpha.0` as alpha release to `npm`:

[code]

I'm closing this task. Please open a new one (or comment on this one) if your problems are still not solved.

[2021-04-26 21:14] #8 closed

[2021-04-28 14:24] serverlesspolska opened #33 "v2.0.0-alpha.0 thoughts"
Hi @arabold,

It's awesome that you're working on this plugin!

I have read the [alpha release notes](https://github.com/arabold/serverless-export-env/releases/tag/v2.0.0-alpha.0) and have a question regarding:

What's the reason behind it?

In my use cases I need all environment variables in a single file, that simplifies a lot for me. Is it possible to request a `--all` parameter to have it back

[2021-04-28 16:45] arabold commented on #33
Hi @serverlesspolska , thanks for the feedback.

The reason is that functions can define different, conflicting environment variables. Like this example:
[code]

What would be the expected value of `MY_ENV_VAR`? `foo`, `hello1` or `hello2`? The behavior wasn't really predictable and thus I decided to remove it for now. I (wrongly?) assumed that shared environment variables would be listed in `prov

[2021-04-28 17:01] arabold commented on #33
@serverlesspolska , try `2.0.0-alpha.1` 😉

[2021-04-29 17:11] serverlesspolska commented on #33
Hi @arabold,

Thanks for meeting my request. 🙏

To be honest, this case didn't come to my mind because I name my env variables carefully. Even when two lambda functions have the same variables they always have the same value (if not then it was my mistake). But now I see that this is probably not the case for everyone (even though could be considered as a bad practice 😉 )

Based on what I wrote ab

[2021-05-11 18:46] williamsandonz commented on #33
Hey @arabold. I hope you don't mind me also sharing some feedback on v2. I've checked it out locally and had a play and it looks great! One thing I've noticed is that the GetAtt solution seems to be quite limited and I've been struggling to make it work for my use-case. For example, when trying to access `Fn::GetAtt: [RdsPostGres, Endpoint.Address]` whereby RdsPostGres is a AWS::RDS::DBInstance it

[2021-05-12 13:44] arabold commented on #33
Hi @williamsandonz . You're absolutely right that the handling of `Fn::GetAtt` is lacking. I've looked into ways of somehow resolving attributes via the CloudFormation API, but I haven't found anything so far. At this point, I'm not sure if it even makes sense to try it in the first place, and I'm considering removing the resolution code again...

Having that said, there're two workarounds:

### 1

[2021-05-13 11:55] williamsandonz commented on #33
Hi @arabold . Ah I can see what you mean, I assumed AWS offered an endpoint for that but looks like it doesn't exist, that's such a shame! Indeed, could be worth seeing if the Import/Export approach is viable, seems odd to refer to a stack output as input for lambda but if it is deployed after resources created then maybe it will work! I like the mocking idea, having the ability to prevent [object

[2021-05-13 15:41] williamsandonz commented on #33
Just thinking, there is one other alternative. Using RDS as an example, you could use DescribeStackResource to get the physical ID then use [https://awscli.amazonaws.com/v2/documentation/api/latest/reference/rds/describe-db-instances.html](url) to get additional information. So for each GetAtt you'd need to find the Resource and figure out it's type then call a specific endpoint just for that reso

[2021-06-04 15:18] arabold commented on #33
I've pushed 2.0.0 now. Any custom logic for `Fn::GetAtt` is disabled for now. We'll have to rely on the `getAttMap` configuration option instead. It would be great if there's a way of resolving `Fn::GetAtt` automatically at some point, but it seems we would have to implement a custom resolution for every single resource type. 😞

[2021-06-16 10:53] MorCohenAres opened #34 "where do you put a variable that may cause a !Ref loop"
Hi,

I think version 2.0 introduces a new bug.

It happens when you add an environment variable to a lambda function that is a reference to a circular structure.

For example, consider the following `serverless.yml`:
[code]

With this yml, when you run `sls deploy`, the following error occurs:
[code]

In version 1 I would simply put that variable inside the `Output` section. The alternative in ver

[2021-06-16 14:08] arabold commented on #34
@MorFixAres , thanks for reporting this. Indeed, it looks like this will introduce a circular dependency. I see two possibilities to break this here:
1. You could define the Cognito user pool name manually in a Serverless variable and then use that name in your `CognitoUserPool` and `confirmUser` Lamba definition. Then you don't need the `!Ref` at all.
2. Alternatively you can try to move the envi

[2021-08-17 14:04] #34 closed

[2021-08-17 14:04] #33 closed

[2021-08-22 20:50] theburningmonk opened #35 "feature request: bring back export outputs with --include-outputs arg"
In v2.0 the plugin has removed fetching the stack outputs, while I'm not sure what you were referring to when you said it caused more problems than it solved, but it was a very valuable capability.

From some of the changes in 2.0 I guess the use case you have in mind is for capturing env vars for individual functions to facilitate `sls invoke`, but another use case I've had for this plugin is to

[2021-08-23 15:28] arabold commented on #35
Thank you for explaining your use case in such detail, @theburningmonk .

Some of the reasons that exporting the output variables was removed are:
* In the last version, the value of the environment variables can now be determined and generated even if the project isn't fully deployed yet. This simplifies local testing of Lambdas significantly as you don't have to deploy your function first before

[2021-09-16 20:44] willa75 opened #36 "Environment Variables under functions not showing"
Hello there,

I am currently using `serverless@2.5.2` and `serverless-export-env@2.0.0`. I am currently trying to export the environment variables used in a function (two dynamodb tables) with `sls export-env --all`, however, it still doesn't grab the environment variables under my functions. Would you be able to tell me how to resolve this issue?

[2021-10-01 14:33] arabold opened #37 "Can we use AWS Cloud Control API to resolve `Fn:;GetAtt`?"
Amazon announced the AWS Cloud Control API: https://aws.amazon.com/blogs/aws/announcing-aws-cloud-control-api/

From an example, it seems we might be able to use to resolve `Fn::GetAtt` functions in a consistent way:
[code]

[2021-10-09 10:15] bboure opened #38 "Hooks executed twice with serverless-offline"
Hi there!

It seems like this plugin when used with serverless-offline executes some Serverless lifecycle hooks twice. Specifically, [this line](https://github.com/arabold/serverless-export-env/blob/master/src/index.js#L103). I am not familiar with that method, but I think it is the programmatic equivalent of doing `sls export-env`, which will (re)execute all hooks.

I came across this issue becau

[2021-10-10 10:15] bboure commented on #38
Thanks for the feedback @arabold

What runs twice is hoks from other plugins, such as `initialize`.

I just created a [demo repo](https://github.com/bboure/serverless-export-env-issue-38) that reproduces this issue.

If you run `sls offline start` on that repo, you will see that the `initialize` hook is executed twice.
I included a [mock plugin](https://github.com/bboure/serverless-export-env-issu

[2021-10-27 08:30] serverlesspolska opened #39 "Environment variables mixed between stages on SF => 2.60"
Hi @arabold,

Recently, I spotted strange behavior which results in wrong *environment variables* being fetched by the plugin.

I want to highlight that this problem does not occur with Serverless Framework v2.22 installed globally. However, most recent versions since 2.60 suffer from it.

### First problem
Locally installed SF does not see `prod` stage.

[code]
But globally installed SFv2.22 sees

[2021-11-25 12:37] barnc commented on #9
I'd also like this feature - in terms of use case - i'm currently exporting the api gateway url to an env file for my front-end to pick up, and I don't want the other env vars i'm using polluting my .env file, as it's a .env file for a web app.

@arabold not sure if this project is still active, but let me know if this is something you think you might accept a PR for?

[2021-11-25 13:09] arabold commented on #9
@barnc , thanks for explaining your scenario. Adding command line parameters to the `export-env` command would be preferable in this case, as this seems more of a special case that a general one. So, I wouldn't add settings for this to the `serverless.yaml` itself, only to the command line. Would that work for you?

I'm not sure when I'm getting to add this myself (probably closer to the end of th

[2021-12-25 21:31] adem-usta opened #41 "Fn::GetAtt seems to not working"
Hello !

I am facing an issue where I create a Cloudfront distribution and I cannot get the DomainName of the resource with GetAtt.

Here is my serverless.yaml:

[code]

package.json
[code]

Firt I run: `sls deploy --stage dev --region eu-west-1` and everything is ok, my stack `my-service-dev` contains the resources.

Then, when I run `sls export-env --stage dev --region eu-west-1` I get the follo

[2021-12-25 21:58] adem-usta commented on #41
Oh ....
https://github.com/arabold/serverless-export-env/blob/v2.0.0/src/lib/resolveCloudFormationEnvVariables.js

This is clearly not working, but the README suggests that the feature is enabled.

[2022-01-03 16:17] pkit opened #42 "Recursive !Sub is not resolved correctly"
I.e:
[code]
will be resolved to (in the `.env` file):
[code]
expected to resolve to:
[code]

[2022-01-16 00:16] conorw commented on #39
I am getting exactly the same behaviour as issue 2 above:
"serverless": "^2.71.0",
"serverless-export-env": "^2.0.0",

[2022-01-31 11:17] argjentsahiti commented on #39
Exactly the same is happening on those versions too

"serverless": "2.70.0",
"serverless-export-env": "2.0.0",

[2022-02-15 19:19] conorw commented on #39
Some more information.

Even if this the 1st call to be made, it will still always default to the "dev" environment.

i.e. running serverless export-env --stage test --verbose will always evaluate the "dev" stage, inside the serverless.yml

provider:
    name: aws
    stage: ${opt:stage,'dev'}

 In my case, I only need to run the export-env for my test env, so by changing the default stage in the

[2022-05-12 11:13] zezke commented on #41
I am running into the same issue with the `serverless-appsync-plugin` for exposing the GraphQLApiUrl.

[code]

Did you manage to find a workaround?

[2022-05-20 20:36] danemauland opened #46 "Issue caused by new version of cfn-resolver-lib"
It looks like V 1.1.8 of [cfn-resolver-lib](https://github.com/robessog/cfn-resolver-lib) is causing some issues. I was able to narrow it down to that package/update, but haven't yet uncovered what's actually breaking it. I'm receiving the following error now whenever I try to generate the environment variables:

[code]

[2022-05-20 20:46] danemauland commented on #46
In the meantime, a workaround would be to override the dependency version by adding this to the package.json at the same level as the dependencies key:

[code]

[2022-05-21 15:46] zsan commented on #46
It's not working on my end, i tried with:

[code]

[2022-05-21 15:50] danemauland commented on #46
You might need to delete your package-lock.json and run npm install again

On Sat, May 21, 2022 at 11:46 AM zsan ***@***.***> wrote:

[2022-05-21 16:08] zsan commented on #46
Same thing,
Just FYI, i am using `yarn`

[code]

And

[code]

[2022-05-21 16:17] zsan commented on #46
My temporary workaround is just to downgrade to `1.4.4`

[code]

[2022-05-23 20:07] drivej commented on #46
+1 Same problem. Downgrade solution Works.

[2022-05-31 16:22] aiden-walton commented on #46
Also having this issue using yarn

[2022-06-16 10:02] estahn commented on #46
Same problem here. Can't 1.4.4 with serverless v3 because of dependency restrictions:
[code]

[2022-06-16 14:20] #46 closed

[2022-06-16 14:28] arabold commented on #41
Unfortunately `Fn::GetAtt` isn't working out of the box. You will have to define a manual mapping as described in the [Custom Resource Resolution section in the README.md](https://github.com/arabold/serverless-export-env#custom-resource-resolution). I should have made that clearer though :(

[2022-06-16 15:23] ezmiller opened #49 "Getting `[Object object]` when trying to export function ARN"
I am trying to export a function ARN that is defined in an environment variable on the provider environment:
[code]

The ARN is set correctly within the deployed environment, but the export `.env` reads:
[code]
Is this a bug?

[2022-06-16 15:56] arabold commented on #49
`Fn::GetAtt` doesn't fully work, unfortunately. As a workaround, you can define `getAttMap` in your serverless.yaml as described here: https://github.com/arabold/serverless-export-env#custom-resource-resolution

But I admit this should be made clearer.

[2022-08-02 04:01] AXSJ commented on #36
I'm having the same issue

[2022-08-06 21:55] willa75 commented on #36
@AXSJ I believe there is a flag you need to set on the more recent versions to overwrite the existing .env file. In the older version it did this automatically, but I was able to get it working later on

[2022-08-06 21:55] #36 closed

[2022-08-19 09:08] j4jefferson commented on #41
Am using serverless 3 and latest plugin version. Does the manual mapping for GetAtt also apply to Ref? I have a function environment variable that uses Ref to a Resource, but this is not exported with export-env.

[2022-09-08 22:36] DavidNeiOs opened #50 "Help with migration from 1.x to 2.x"
Working with version 1 I was using the outputs to add some variables manually to the .env file like this:

[code]

this will output in V1.x
[code]

I've tried manually adding them to `provider.environment` but running `!Ref` on provider (or custom) throws a circular dependency error also adding `AWS_REGION` to the provider throws an error as it is a reserved keyword.

I'm using these variables for

[2022-09-09 03:35] DavidNeiOs commented on #50
I realised this has nothing to do with the plugin but there is in fact a circular dependency since one of the lambdas is postConfirmation for cognitoUserPool so having the name as an environment variable will start the "circle". I believe it will still be interesting to have the option to have the outputs on the `.env` file

[2022-09-09 03:35] #50 closed, assigned to nobody

[2022-09-11 04:20] eduardo3g commented on #49
Do I necessarily have to mock the value with getAttMap? I'm having issues to export my AppSync GraphQLUrl with !GetAtt.

I can't just mock the URL because I use this value in my end-to-end tests. So basically my test suite deploys a stack, generates the .env file with this plugin (including the GraphQLUrl of the API deployed during the CI/CD pipeline), tests run reading the .env file and then I cl

[2022-09-11 04:25] eduardo3g commented on #41
Unfortunately this manual mapping breaks integration and end-to-end tests. Is there any plan to cover all the scenarios of intrinsic functions? Thanks in advance!

[2022-10-29 06:58] pokryfka commented on #41
`!GetAtt GraphQlApi.GraphQLUrl` used to be resolved properly for me with serverless v2

just updated to serverless v3 and it does not work anymore, get errors:

[code]

I am not sure how much its the same problem?

Does the plugin supports serverless v3?

[2022-10-29 07:10] pokryfka opened #51 "Support for serverless v3"
Has the plugin been tested with [serverless v3](https://www.serverless.com/blog/serverless-framework-v3-is-live)?

I just updated to serverless v3 and noticed a few issues:

1.

environment values at function level are not exported, for example:

[code]

2. Outputs  are not exported, for example:

[code]

3. Resolving of some properties does not work anymore, in my case:

- `!GetAtt RedisReplicati

[2022-10-29 10:55] pokryfka commented on #49
serverless-appsync-plugin v2 exports AppSync URL

https://github.com/sid88in/serverless-appsync-plugin/blob/v2.0.0-alpha.12/README.md#variables